:root {
  --kwt-font: 'Rubik', sans-serif;
  --kwt-tx-1: #555;
  --kwt-tx-2: #444;
  --kwt-tx-3: #222;
  --kwt-bg-1: #fff;
  --kwt-br-1: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--kwt-font);
  background: var(--kwt-bg-1);
  color: var(--kwt-tx-1);
  font-size: 20px;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--kwt-tx-2);
}
h3 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}
p {
  font-weight: 400;
  font-size: .8em;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: justify;
}
b {
  font-weight: 800;
  color: var(--kwt-tx-2);
}
hr {
  border: 0;
  border-bottom: 1px solid var(--kwt-br-1);
  margin-bottom: 30px;
}
a {
  width: fit-content;
  color: var(--kwt-tx-1);
  text-decoration: none;
  font-weight: 500;
  font-size: .9em;
}
a:hover {
  color: var(--kwt-tx-3);
}

.wrapper {
  padding: 10rem 1rem 0 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  gap: 20px;
}
